/*font used in document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --primary-color: hsl(284, 71%, 64%);
  --darken-primary-color: hsl(284, 70%, 51%);
  --lighten-primary-color: hsl(284, 70%, 75%);
  --transparent-primary-color: hsl(285, 22%, 93%);
  --border-color: black;
  --aside-color: hsl(191, 92%, 29%);
  --gradient-color:linear-gradient(
    to right,
    var(--darken-primary-color),
    var(--aside-color)
    );
  --gradient-color-alt:linear-gradient(
    to right,
    var(--aside-color),
    var(--primary-color)
    );
  --default-space: 20px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit; 
} 

/*custom-structures*/
html {
  box-sizing: border-box;
}
body {
  background-color: var(--transparent-primary-color);
  font-family: 'Open Sans', sans-serif;
  min-width: min-content;
  font-size: 1rem;
}

/*header-custom */
.header {
  margin-left: 0;
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  padding-left: inherit;
  z-index: 999;
}
.logo {
  display: flex;
  width: 80px;
  height: 70px;
  padding: 5px;
  justify-content: left;
}
/*Header title*/
.title {
  text-align: auto;
  display: block;
  font-size: 1.6rem;
  color: var(--background-color);
  font-weight: 700;
}
.nav-item :hover {
  cursor: pointer;
  color: var(--lighten-primary-color);
}
/*end-header-custom */

/*Main-page custom*/

.intro {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0 var(--default-space);
  margin: 15px;
  justify-self: center;
  background-image: var(--gradient-color);
  display: flex;
}
.main-contain {
  display: block;
  position: relative;
}
.card-body {
  margin-top: var(--default-space);
  margin-bottom: var(--default-space);
  border-radius: 5px;
}

.card-contain {
  background-color: var(--transparent-primary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 8px 2px;
  grid-area: "card card"
             "card card";
  }

.card-body {
  word-wrap:normal;
  justify-content: center;
  text-align: left;

}

.card-title {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 700;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: inherit;
  gap: 8px 2px;
  grid-area: "footer-item footer-item footer-item"
              " ";
}
.footer-item {
  display: inline-block;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
}
.footer-item :hover {
  cursor: pointer;
  color: var(--aside-color);
}
.footer-link {
  text-decoration: none;
  color: var(--primary-color);
}
.copyright-text {
  justify-content: bottom;
}