/*font used in document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --primary-color: hsl(284, 71%, 64%);
  --darken-primary-color: hsl(284, 70%, 51%);
  --lighten-primary-color: hsl(284, 70%, 75%);
  --transparent-primary-color: hsl(285, 22%, 93%);
  --background-color: black;
  --aside-color: hsl(191, 92%, 29%);
  --default-space: 20px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit; 
} 

/*custom-structures*/
html {
  box-sizing: border-box;
}
body {
  background-color: var(--lighten-primary-color);
  font-family: 'Open Sans', sans-serif;
  min-width: min-content;
  font-size: 1rem;
}

/*header-custom */
.header {
  background-color: var(--transparent-primary-color);
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  display: flex;
  width: 80px;
  height: 70px;
  padding: 5px;
  justify-content: left;
}
/*Header title*/
.title {
  text-align: auto;
  display: block;
  font-size: 1.6rem;
  color: var(--background-color);
  font-weight: 700;
}

.nav-item {
  display: inline;
  text-align: left;
  text-decoration: none;
  padding: .5em;
  background-color: var(--darken-primary-color);
  justify-content: space-between;
  float: left;
}
.nav-link {
  color: white;
}
.nav-item :hover {
  cursor: pointer;
  color: var(--lighten-primary-color);
}
/*end-header-custom */

/*Main-page custom*/

.intro {
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 0 var(--default-space);
  margin: 15px;
  justify-self: center;
  background-color: var(--darken-primary-color);
  display: flex;
}
.main-content {
  background-color: var(--transparent-primary-color);
  display: flex;
  padding: 0 var(--default-space);
  height: 100vh;
  width: 100%;
  margin: 0px;
  }

.card {
  display: flex;
}

.card-title {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 700;
}
