@import url('style.css');

@media only screen and (max-width: 572px) {
  header {
    width: 100%;
  }
  body {
    width: 100%;
  }
  footer {
    width: 100%
  }
  .navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 1000;
  }
  .intro {
    border: 0px solid var(--border-color);
    border-radius: 5px;
    padding: 0 var(--default-space);
    padding-top: 50%;
    margin: 15px;
    justify-self: center;
    height: auto;
    width: auto;
  }
  
}
@media only screen and (max-width: 785px){
  header {
    width: 100%;
  }
  body {
    width: 100%;
  }
  footer {
    width: 100%
  }
  .navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 1000;
  }
  .intro {
    border: 0px solid var(--border-color);
    border-radius: 5px;
    padding: 0 var(--default-space);
    padding-top: 50%;
    margin: 15px;
    justify-self: center;
    height: auto;
    width: auto;
  }
}


  
  
  
  
  
  