/*font used in document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --primary-color: hsl(284, 71%, 64%);
  --darken-primary-color: hsl(284, 70%, 51%);
  --lighten-primary-color: hsl(284, 70%, 75%);
  --transparent-primary-color: hsl(284, 21%, 93%);
  --background-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/*custom-structures*/
html {
  font-size: 16px;
}
body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  min-width: fit-content;
}

/*header-custom */
.header {
  background-color: var(--transparent-primary-color);
  height: auto;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  display: flex;
  width: 80px;
  height: 70px;
  padding: 5px;
  justify-content: left;
}
.title {
  text-align: auto;
  display: block;
  font-size: 1.6rem;
  color: var(--background-color);
  font-weight: 700;
}
.hamburger-menu {
  font-size: 2.6rem;
  color: rgb(12, 11, 11);
  cursor: pointer;
  position: relative;
  z-index: 1500;
}
.hamburger-menu.fa-times {
  display: none;
}

.nav-item {
  display: inline;
  text-align: right;
  text-decoration: none;
  padding: .5em;
  background-color: var(--darken-primary-color);
  justify-content: space-between;
  float: left;
}
.nav-link {
  color: white;
}
.nav-item :hover {
  cursor: pointer;
  color: var(--lighten-primary-color);
}
/*end-header-custom */

/*Main-page custom*/
.main-content {
  display: flex;
  margin: 5px;
  

}

.footer {
  background-color: var(--darken-primary-color);
  width: auto;
}
